<div Id="comments-list">
    {{#commentdtos}}
    <div class="card m-3"  Id="comments-{{ID}}">
        <div class="card-header">
            {{nickname}}
        </div>
        <div class="card-body">
            {{body}}
        </div>
    </div>

    {{/commentdtos}}


</div>