{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">title</th>
        <th scope="col">content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{ID}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.ID}}/edit"  class="btn btn-primary">수정하기</a>
<a href="/articles/{{article.ID}}/delete" class="btn btn-danger">삭제하기</a>
<a href="/articles"  class="btn btn-primary">목록으로</a>





{{>layouts/footer}}
